<div class="form">
	<div class="tile">
		<label>Name</label>
		<p>{{input type="text" value=name}}</p>
	</div>
	<div class="tile">
		<label>Classification</label>
		<p>{{input type="text" value=classification}}</p>
	</div>
	<div class="tile">
		<label>Diet</label>
		<p>{{input type="text" value=diet}}</p>
	</div>
	<div class="tile">
		<label>Color</label>
		<p>{{input type="text" value=color}}</p>
	</div>
	<div class="tile">
		<label>Temperament</label>
		<p>{{input type="text" value=temperament}}</p>
	</div>
	<div class="tile">
		<label>Quantity</label>
		<p>{{input type="text" value=quantity_here}}</p>
	</div>
</div>